@model FNHMVC.Web.ViewModels.CategoryFormModel
  @{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
@using (Html.BeginForm("Save", "Category"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Category</legend>     

        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
