<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net451" />
  <package id="Autofac.Mvc5" version="3.3.0" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="3.3.0" targetFramework="net451" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net451" />
  <package id="Selenium.Support" version="2.42.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.42.0" targetFramework="net451" />
</packages>